<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/schema.css">
</head>
<body>
<!-- language switcher component -->
{% include './partials/language-switcher.html' %}

<h1>BENG SCHEMA</h1>
{% if className != 'NONE' and classProps is defined and classProps|length > 0 %}
    {% include './partials/breadcrumb.html' %}
    {% include './partials/propsTable.html' %}
{% elif className is defined and className != 'NONE' and classProps|length == 0  %}

{% include './partials/breadcrumb.html' %}

<h1>No own props for class {{ className }} </h1>

{% include './partials/abstractClassElems.html' %}

{% endif %}

{% if bengClasses %}
{% include './partials/classesTable.html' %}
{% endif %}

</body>
</html>
