<table>
    <tr>
        <th>Class</th>
        <th>Sub Class of</th>
        <th>Description</th>
    </tr>
    {% for row in bengClasses %}
    <tr>
        <td>
            <a href="{{ url_for(request.endpoint) }}{{language}}/{{ row['@id']|getLastStringAfter }}">
                {% for label in row['http://www.w3.org/2000/01/rdf-schema#label'] %}
                    {% if label['@language'] == language %}
                        {{ label['@value'].capitalize() }}
                    {% endif %}
                {% endfor %}
            </a>
        </td>
        <td>
            {% for subClass in row['http://www.w3.org/2000/01/rdf-schema#subClassOf'] %}
                    <a {% if subClass['@id']|externalResource %} target="_blank" {% endif %}
                            title="{{ subClass['@id']}}"
                            href="{% if subClass['@id']|externalResource %}
                                    {{ subClass['@id'] }}
                                {% else %}
                                    {{ subClass['@id']|getLastStringAfter }}
                            {% endif %}"
                    >
                        {% if subClass['@id'] is defined %}
                            {{ subClass['@id']|getLastStringAfter }}
                        {% endif %}
                    </a>
            {% endfor %}
        </td>
        <td>
            {% for description in row['http://www.w3.org/2000/01/rdf-schema#comment'] %}
                {% if description['@language'] == language %}
                    {{ description['@value'] }}
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>