<ul class="lang-switcher lang-switcher--pill">
    {% if classProps is defined %}

    <li><a href="{{ url_for(request.endpoint) }}/en/{{ className }}"
           {% if language is defined and language == 'en' %}
        class="is-active"
        {% endif %}> En </a></li>
    <li><a href="{{ url_for(request.endpoint) }}/nl/{{ className }}"
           {% if language is defined and language == 'nl' %}
        class="is-active"
        {% endif %}
        >Nl</a></li>
    {% elif bengClasses is defined %}

    <li><a href="{{ url_for(request.endpoint) }}en"
           {% if language is defined and language == 'en' %}
        class="is-active"
        {% endif %}> En </a></li>
    <li><a href="{{ url_for(request.endpoint) }}nl"
           {% if language is defined and language == 'nl' %}
        class="is-active"
        {% endif %}
        >Nl</a></li>

    {% endif %}
</ul>